<div class="login_container">
    <div class="login_content">
        <div class="login_header">
            <h1>{{'Sign In' | translate}}</h1>
        </div>
        <form class="form" #f="ngForm" (ngSubmit)="onSignIn(f)">
            <mat-form-field>
                <input
                  type="email"
                  matInput
                  ngModel
                  name="email"
                  placeholder= "Email"
                  email
                  required
                  #emailInput="ngModel"
                />
                <mat-error *ngIf="emailInput.hasError('required')"
                  >{{'Field must not be empty' | translate}}</mat-error
                >
                <mat-error *ngIf="!emailInput.hasError('required')"
                  >{{'Email is invalid' | translate}}</mat-error
                >
              </mat-form-field>
              <mat-form-field>
                <input
                  type="password"
                  matInput
                  ngModel
                  name="password"
                  placeholder="Password"
                  required
                  minlength="6"
                  #pwInput="ngModel"
                />
              </mat-form-field>
              <button mat-raised-button [disabled]="f.invalid">{{'Sign In' | translate}}</button>
        </form>
        <div class="login_footer">
            <p>{{"Don't have an account?" | translate}}</p>
            <a [routerLink]="'/register'"><h5>{{'SIGN UP NOW' | translate}}</h5></a>
        </div>
    </div>
</div>