.comment_container{
    color: white;
    max-width: 595px;
    max-height: 120px;
    margin-top: 30px;
    

}

.comment {
    height: fit-content;
    width: 595px;
    border: 2px solid #938a8a;
    padding-bottom: 10px;
    padding-top: 5px;
    border-radius: 15px;
}

.date {
    font-size: small;
    display: flex;
    width: 510px !important;
    justify-content: end;
    margin-bottom: 10px;
    
}

.text_align{
    margin-left: 5px
}