<!-- <mat-sidenav-container fullscreen> -->
    <!-- <mat-sidenav class="sidenav sidenav_dropdown_background" #sidenav>
        <mat-nav-list (click)="sidenav.close()">
            <a mat-list-item routerLink="">
                <mat-icon class="icon-gap">movie</mat-icon>
                <span>Movies</span>
            </a>
            <a mat-list-item routerLink="">
                <mat-icon class="icon-gap">video_library</mat-icon>
                <span>MyStuff</span>
            </a>
            <a mat-list-item routerLink="">
                <mat-icon class="icon-gap">account_circle</mat-icon>
                <span>Login</span>
            </a>
            <a class="" mat-list-item routerLink="">
                <mat-icon class="icon-gap">person_add</mat-icon>
                <span>Register</span>
            </a>
        </mat-nav-list>
    </mat-sidenav> -->

    <!--  <mat-toolbar color="red">  -->
        <!-- <button mat-icon-button (click)="sidenav.open()">
            <mat-icon>menu</mat-icon>
        </button> -->
        <!-- <a routerLink="">
            <img class="img_size" src="../../../../assets/images/logo.png" alt="">
        </a>
        <button class="button" mat-button routerLink="/movies">
            <mat-icon class="icon-gap">movie</mat-icon>
            <span>Movies</span>
        </button>
        <button class="button" mat-button routerLink="">
            <mat-icon class="icon-gap">movie_filter</mat-icon>
            <span>Category</span>
        </button>
        <button class="button" mat-button routerLink="">
            <mat-icon class="icon-gap">video_library</mat-icon>
            <span>MyStuff</span>
        </button>
        <div class="ms-auto">
            <button class="button dropdown-toggle" mat-button [mat-menu-trigger-for]="language_dropdown">
                <mat-icon class="">language</mat-icon>
            </button>
            <mat-menu #language_dropdown >
                <button class="button" mat-menu-item routterLink="">English</button>
                <button class="button" mat-menu-item routterLink="">Spanish</button>
            </mat-menu>

            <button class="button dropdown-toggle ms-auto" mat-button [mat-menu-trigger-for]="dropdown">
                <mat-icon class="">account_circle</mat-icon>
            </button>
            <mat-menu #dropdown >
                    <button class="button" mat-menu-item routterLink="">Login</button>
                    <button class="button" mat-menu-item routterLink="">SignUp</button>
            </mat-menu> 
        </div>
         

    </mat-toolbar>
</mat-sidenav-container> -->

<mat-toolbar color="red">
    <!-- <button mat-icon-button (click)="sidenav.open()">
        <mat-icon>menu</mat-icon>
    </button> -->
    <a routerLink="">
        <img class="img_size" src="../../../../assets/images/logo.png" alt="">
    </a>
    <button class="button" mat-button routerLink="/movies">
        <mat-icon class="icon-gap">movie</mat-icon>
        <span>Movies</span>
    </button>
    <button class="button" mat-button routerLink="">
        <mat-icon class="icon-gap">movie_filter</mat-icon>
        <span>Category</span>
    </button>
    <button class="button" mat-button routerLink="">
        <mat-icon class="icon-gap">video_library</mat-icon>
        <span>MyStuff</span>
    </button>
    <div class="ms-auto">
        <button class="button dropdown-toggle" mat-button [mat-menu-trigger-for]="language_dropdown">
            <mat-icon class="">language</mat-icon>
        </button>
        <mat-menu #language_dropdown >
            <button class="button" mat-menu-item routterLink="">English</button>
            <button class="button" mat-menu-item routterLink="">Spanish</button>
        </mat-menu>

        <button class="button dropdown-toggle ms-auto" mat-button [mat-menu-trigger-for]="dropdown">
            <mat-icon class="">account_circle</mat-icon>
        </button>
        <mat-menu #dropdown >
                <button class="button" mat-menu-item routterLink="">Login</button>
                <button class="button" mat-menu-item routterLink="">SignUp</button>
        </mat-menu> 
    </div>
</mat-toolbar>
