
.button {
    color: white;
}

.button:hover {
    // background-color: #f35853 !important;
    // border-radius: 25px;
    // color: white;
};


.icon-gap {
    margin-right: 4px;
}

.img_size {
    height: 50px;
    width: 150px;
}


.nav_container {
    background-color: #0f171e;
    height: fit-content;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
}

::ng-deep .menu {
    background: #0f171e;
  }


