<ng-container>
    <div class="d-flex nav_container">
        <a [routerLink]="'/movies'">
            <img class="img_size" src="../../../../assets/images/logo.jpg" alt="">
        </a>
        <button class="button" mat-button (click)="navigateToHome()">
            <mat-icon class="icon-gap">movie</mat-icon>
            <span>Movies</span>
        </button>
        <button class="button" mat-button [mat-menu-trigger-for]="category_dropdown">
            <mat-icon class="icon-gap">movie_filter</mat-icon>
            <span>Category</span>
        </button>
        <mat-menu #category_dropdown class="menu menu_width">
            <span class="d-flex">
                <button class="button" mat-menu-item (click)="onSelect('Comedy')">Comedy</button>
                <button class="button" mat-menu-item  (click)="onSelect('Science')">Science</button>
                <button class="button" mat-menu-item (click)="onSelect('Thriller')">Thriller</button>
            </span>
            <span class="d-flex">
                <button class="button" mat-menu-item  (click)="onSelect('Adventure')">Adventure</button>
                <button class="button" mat-menu-item  (click)="onSelect('Sci-Fi')">Sci-Fi</button>
                <button class="button" mat-menu-item  (click)="onSelect('Drama')">Drama</button>
            </span>
            <span class="d-flex">
                <button class="button" mat-menu-item  (click)="onSelect('Romance')">Romance</button>
                <button class="button" mat-menu-item (click)="onSelect('Action')">Action</button>
                <button class="button" mat-menu-item (click)="onSelect('Horror')">Horror</button>
            </span>
        </mat-menu>
        <button class="button" mat-button [routerLink]="'mystuff'">
            <mat-icon class="icon-gap">video_library</mat-icon>
            <span>MyStuff</span>
        </button>
        <span class="mt-2" *ngIf="(authFacade.user$ | async) as user">
            <button *ngIf="user.email === admin.EMAIL" class="button" mat-button [routerLink]="'addMovie'">
                <mat-icon class="icon-gap">add_to_queue</mat-icon>
                <span>Add Movie</span>
            </button>
        </span>
        <div class="ms-auto mt-1">
            <button class="button dropdown-toggle" mat-button [mat-menu-trigger-for]="language_dropdown">
                <mat-icon class="">language</mat-icon>
            </button>
            <mat-menu #language_dropdown class="menu">
                <button class="button" mat-menu-item routterLink="">English</button>
                <button class="button" mat-menu-item routterLink="">Spanish</button>
            </mat-menu>
    
            <button class="button dropdown-toggle ms-auto" mat-button [mat-menu-trigger-for]="dropdown">
                <mat-icon class="">account_circle</mat-icon>
            </button>
            <mat-menu #dropdown class="menu">
                    <button class="button" *ngIf="!(authFacade.user$ | async)" mat-menu-item [routerLink]="'login'">Login</button>
                    <button class="button" *ngIf="!(authFacade.user$ | async)" mat-menu-item [routerLink]="'register'">SignUp</button>
                    <button class="button" *ngIf="authFacade.user$ | async" mat-menu-item (click)="onLogout()">Logout</button>
            </mat-menu> 
        </div>
    </div>
</ng-container>

