<ng-container>
    <div class="d-flex nav_container">
        <a [routerLink]="'/movies'">
            <img class="img_size" src="../../../../assets/images/logo.jpg" alt="">
        </a>
        <button class="button" mat-button routerLink="/movies">
            <mat-icon class="icon-gap">movie</mat-icon>
            <span>Movies</span>
        </button>
        <button class="button" mat-button routerLink="">
            <mat-icon class="icon-gap">movie_filter</mat-icon>
            <span>Category</span>
        </button>
        <button class="button" mat-button [routerLink]="'mystuff'">
            <mat-icon class="icon-gap">video_library</mat-icon>
            <span>MyStuff</span>
        </button>
        <div class="ms-auto mt-1">
            <button class="button dropdown-toggle" mat-button [mat-menu-trigger-for]="language_dropdown">
                <mat-icon class="">language</mat-icon>
            </button>
            <mat-menu #language_dropdown class="menu">
                <button class="button" mat-menu-item routterLink="">English</button>
                <button class="button" mat-menu-item routterLink="">Spanish</button>
            </mat-menu>
    
            <button class="button dropdown-toggle ms-auto" mat-button [mat-menu-trigger-for]="dropdown">
                <mat-icon class="">account_circle</mat-icon>
            </button>
            <mat-menu #dropdown class="menu">
                    <button class="button" *ngIf="!(authFacade.user$ | async)" mat-menu-item [routerLink]="'login'">Login</button>
                    <button class="button" *ngIf="!(authFacade.user$ | async)" mat-menu-item [routerLink]="'register'">SignUp</button>
                    <button class="button" *ngIf="authFacade.user$ | async" mat-menu-item (click)="onLogout()">Logout</button>
            </mat-menu> 
        </div>
    </div>
</ng-container>

