<ng-container>
  <div class="container">
    <span
      class="watchlist"
      [ngClass]="{ selected: isWatcLaterEnabled }"
      (click)="changeMode(mode.watchLater)"
      >{{"Watch Later" | translate}}</span
    >
    <span
      class="fav_section"
      [ngClass]="{ selected: !isWatcLaterEnabled }"
      (click)="changeMode(mode.favourtie)"
      >{{"Favourite" | translate}}</span
    >
      <app-watch-later class="margin_top" *ngIf="isWatcLaterEnabled"></app-watch-later>
      <app-favourite *ngIf="!isWatcLaterEnabled"></app-favourite>
  </div>
</ng-container>
