<div class="card_container">
    <img [src]="'https://m.media-amazon.com/images/M/MV5BM2MyNjYxNmUtYTAwNi00MTYxLWJmNWYtYzZlODY3ZTk3OTFlXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_.jpg'" alt="">
    <div>
        <h4 class="title">Man Vs. Wild</h4>
    </div>
    <span class="d-flex">
        <h5 class="type">Comedey</h5>
        <div class="rating">
            <h5>7</h5>
            <mat-icon class="star">star</mat-icon>
        </div>
    </span>
    <p class="description">Summery: The greatest film ever made began with the meeting…he’s a nut who lives in a tree in India somewhere</p>
    <span class="d-flex justify-content-center">
        <button class="fav" mat-icon-button>
            <mat-icon>favorite</mat-icon>
        </button>
        <button class="fav" mat-icon-button>
            <mat-icon>watch_later</mat-icon>
        </button>
    </span>
</div>