<div class="card_container" *ngIf="movie">
    <img [src]="movie.imageURL" alt="">
    <div>
        <h4 class="title">{{movie.title}}</h4>
    </div>
    <span class="d-flex">
        <h5 class="type">{{movie.genre?.slice(0,7)}}</h5>
        <div class="rating">
            <h5>{{movie.imdbRating}}</h5>
            <mat-icon class="star">star</mat-icon>
        </div>
    </span>
    <p class="description">Summery: {{movie.description?.slice(0,90)?.concat('...')}}</p>
    <span class="d-flex">
        <!-- <button class="fav" mat-icon-button>
            <mat-icon>favorite</mat-icon>
        </button> -->
        <button class="fav" mat-icon-button>
            <mat-icon>language</mat-icon>
        </button>
        <h5 class="mt-2 fav">{{movie.language}}</h5>
    </span>
    <br>
</div>
