div.box {
    padding: 0;
}

.box {
    position: relative;
    perspective: 1000px;
    transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out 0.5s;
}

.box:hover {
    transform: scale(1.1);
    box-shadow: 1px 2px 10px 5px solid #000;
}

.box .box_img {
    transform: rotateY(0);
    transition: all 0.5s ease-in-out 0s;
}

.box:hover .box_img {
    transform: rotateY(-90deg);
}

.box .box_img img{
    width: 250px;
    height: 300px;
    border: 3px solid rgb(233, 88, 88);
    border-radius: 10px;
}

.box .content {
    color: white;
    background: rgba(0,0,0,0);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 90px 20px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
    transform: rotateY(90deg);
    transition: all 0.5s ease-in-out 0.1s;
}

.box .button{
    background: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 240px 50px;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    transform: rotateY(90deg);
    transition: all 0.5s ease-in-out 0s;
}

.box:hover .button{
    transform: rotateY(0);
}

.box .button li{
    list-style: none;
    padding: 10px 0;
}

.box .button li a {
    color: white;
    text-decoration: none;
    border: 1px solid transparent;
    padding: 5px 5px;
    background: #27ae60;
    border-radius: 50px;
}

.box .button li a:hover {
    background: #10890c;
}

.box:hover .content{
    transform: rotateY(0);
}

.box .content p {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 20px 0;
    margin: 0 25px;
}

.fav:hover {
    transform: scale(1.3);
}

.icon_flex {
    display: flex;
    justify-content: center;
}

