.form {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    align-items: center;
    border-top: 2.5px solid white;
    border-right: 2.5px solid white;
    border-bottom: 2.5px solid white;
    border-radius: 25px;
    padding-bottom: 20px;
}

mat-form-field{
    width: 300px;
}

.container{
    max-width: 400px;
    height: max-content;
    margin-top: 60px;
}

button{
    width: 250px;
    margin-top: 20px;
    margin-left: 15px;
    margin-bottom: 20px;
    border-radius: 25px !important;
    background: #4a6683;
}

