/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// .mat-drawer-container {
//     background-color: black;
// }

.background {
    background-color: #273646;
    // background-color: white;
}

.mat-dialog-container {
    padding: 0 !important;
}

.cdk-overlay-dark-backdrop {
    background: rgb(1 1 1 / 86%);
}