<ng-container>
    <div class="container">
        <mat-card class="">
            <mat-card-header>
            </mat-card-header>
            <mat-card-content>
              <p>
                Not a Prime Member! Want to subscribe ??
              </p>
            </mat-card-content>
            <mat-card-actions class="align_button">
              <button mat-raised-button (click)="onAccept()">Yes</button>
              <button mat-raised-button (click)="onCancel()">No</button>
            </mat-card-actions>
          </mat-card>
    </div>
</ng-container>

