<ng-container>
  <br class="text" />
  <div class="container">
    <h3 class="text mb-0">Comments</h3>
    <app-review></app-review>
    <app-review></app-review>
    <app-review></app-review>
    <!-- <p class="mt-1 text mb-1">No comments found</p> -->
    <p class="text mb-0 mt-4">Write a comment</p>
    <div class="textarea">
      <textarea name="comment" id="" cols="55" rows="5"></textarea>
    </div>
    <span class="d-flex justify-content-end">
      <button mat-raised-button>Submit</button>
    </span>
  </div>
</ng-container>
